$color-bg: #0798EC;

// Bootstrap
$white:    #fff!default;
$gray-100: #fff!default;
$gray-200: #fff!default;
$gray-300: #fff!default;
$gray-400: #fff!default;
$gray-500: #fff!default;
$gray-600: #fff!default;
$gray-700: #fff!default;
$gray-800: #fff!default;
$gray-900: #fff!default;
$black:    #fff!default;